.CFUserTextEncoding
.argouml/
.bash_history
.config/
.cups/
.deliverycenter.installs
.DS_Store
.dropbox/
.eclipse/
.filezilla/
.gitconfig
.gitignore_global
.idm/
.npki_pkcs11.cnf
.rnd
.sh_history
.softforum/
.ssh/
.subversion/
.vagrant.d/
.viminfo
Applications/
Cloud/
Desktop/
Dev/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
VirtualBox VMs/

.composer/
.mysql_history
bak/
docs
html
public_html/
scripts/
src/
